;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 []

 :builds
 {:script
  {:target :node-script
   :main core/main
   :compiler-options {:infer-externs true
                      :optimizations :advanced}
   :output-to "out/index.js"}}}
