;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 []

 :jvm-opts ["-Xss16m"]
 :builds
 {:script
  {:target :node-script
   :main core/main
   :compiler-options {:infer-externs false
                      :optimizations :simple}
   :output-to "out/index.js"}}}
